{% extends 'layout.html.twig' %}

{% block content_body %}
<h1>Modification du produit {{ product.title }} : </h1>

{{ include('product/new.html.twig', {
    button_text: 'Update!'
}) }}

{% endblock %}